<!DOCTYPE html>
<html>
    <head>
        <title>Auth Testing App</title>
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
      <h1>
  MAIN LANDING PAGE
</h1>
      <h2>
        This is the main landing page of the auth app.
      </h2>
      
    <ul>
      <li>New User? <a href="/register">Register Here!</a></li>
      <li>Existing User? <a href="/login">Login!</a></li>
      <li><a href="/logout">Logout!</a></li>
    </ul>
  </body>
</html>
      

