<!DOCTYPE html>
<html>
    <head>
        <title>Auth Testing App</title>
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
      <h1>
  REGISTER NEW USER PAGE
</h1>
<h2>
  Register as a new user!
</h2>
<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>
    Submit
  </button>
</form>
<ul>
  

<li>New User? <a href="/register">Register Here!</a></li>
<li>Existing User? <a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
        </ul>
  </body>
</html>